- form_class ||= ''
= form_tag searches_path, class: "#{form_class} dropdown" do
  div.input-group
    /= text_field_tag 'term', '', class: 'form-control', placeholder: 'Start your search here', value: Article.first.try(:term)
    = text_field_tag 'term', '', class: 'form-control', placeholder: 'Start your search here'
    .input-group-btn
      = submit_tag 'Search', class: 'btn btn-primary'

  - if Article.any?
    .btn.btn-default.dropdown-toggle data-toggle="dropdown"
      = fa_icon 'tags fw'
      span.badge = @keywords.try(:length) || 0

    ul.dropdown-menu
      - if @keywords.present?
        - @keywords.each do |keyword|
          li = keyword
      - else
        li: .alert.alert-info Não há tags
