.search
  h1 Biosearch

  = simple_form_for(@search_form, url: searches_path, method: 'GET') do |f|
    = f.input :q, as: :select, collection: f.object.q, input_html: { class: 'select2-tokenizer', multiple: true, name: 'q[]'}, label: false
    = f.input :max_concept_length, collection: 3..10, include_blank: false, label: "Concepts' max length"

    = f.submit 'search', class: 'btn btn-primary'

.search-filters
  - if @suggestions
    - @suggestions.each do |suggestion|
      .btn.btn-primary data-btn-searchable="" data-value="#{suggestion}"
        i.fa.fa-fw.fa-arrows
        span = suggestion

    = link_to_with_pagination('Previous', (params[:page].to_i - 1))
    br
    = link_to_with_pagination('Next', (params[:page].to_i + 1))

    h1 List of articles
    - @articles.each do |article|
      .panel.panel-default
      .panel-heading
        = link_to "#{article.title} | #{article.pmid}", "https://www.ncbi.nlm.nih.gov/pubmed/#{article.pmid}", target: "_blank"

      .panel-body
        - if article.date.present?
          = l(article.date, format: '%d/%B/%Y')
          br
        = article.abstract
