// = require_self

@import "bootstrap-sprockets"
@import "bootstrap"
@import "font-awesome"

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,900)

// ** Vars

$indingo: #4ab867
$purple: #5b4566
$grey: #9E9E9E

$inner-padding: 20px

// ** Body

html, body
  height: 100%

  font-family: "Roboto", sans-serif

.select2-tokenizer
  width: 800px


.search
  text-align: center

.search-filters
  text-align: center
  margin-top: 20px
