doctype html

html
  head
    title = yield :page_title

    meta charset="utf-8" /
    meta content="width=device-width, initial-scale=1" name="viewport" /
    link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" /
    link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" /
    link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" /
    script src="https://code.jquery.com/jquery-1.12.4.js"
    script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"
    script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
    script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"

    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  body
    .container
      = yield
